<h2>New User</h2>

<div class="row">
  <div class="col-md-6">

    <form class="form-horizontal" [formGroup]="signupForm">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="username">Username</label>
          <div class="controls">
            <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" formControlName="username">
            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            <input type="email" id="email" name="email" placeholder="" class="form-control input-lg" formControlName="email">
            <p class="help-block" *ngIf="signupForm.get('email').hasError('required')">Please provide your E-mail</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" formControlName="password">
            <p class="help-block" *ngIf="signupForm.get('password').hasError('required')">Password is required</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password_confirm">Password (Confirm)</label>
          <div class="controls">
            <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg" formControlName="confirmPassword">
            <p class="help-block" *ngIf="signupForm.get('confirmPassword').hasError('required')">Please confirm password</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary" (click)="signup(signupForm.value)" [disabled]="signupForm.invalid && signupForm.value.password !== signupForm.value.confirmPassword">Signup</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>
</div>