/* You can add global styles to this file, and also import other style files */
.container {
    margin-top: 30px;
}

.control-group {
    padding-top: 15px;
}

.alert {
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    width: 360px;

    i {
        position: absolute;
        right: 6px;
        top: 6px;
    }
}
